/** link styles */

html, body, #canvas {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;

  color: var(--token-simulation-grey-darken-30, #212121);
  display: flex;
  flex-direction: column;
}

body:not(.presentation-mode) .bts-notifications {
  bottom: 60px;
}

.links, .drop-message {
  z-index: 1;
}

.link {
  color: var(--token-simulation-grey-darken-30, #212121);
  display: inline-block;
  padding: 6px;
  font-size: 16px;
  border-radius: 2px;
  background-color: var(--token-simulation-silver-darken-94, #EFEFEF);
  text-decoration: none;
  border: none;
}

.link:hover {
  color: var(--token-simulation-white, #FFFFFF);
  background-color: var(--token-simulation-green-base-44, #10D070);
}

.links .link + .link {
  margin-left: 20px;
}

.presentation-mode .drop-message,
.presentation-mode .links {
  display: none;
}

.canvas-parent {
  display: inline-flex;
  width: 100%;
  height: 100%;
}

.canvas, .properties-panel, .olc-properties-panel {
  justify-content: stretch;
}

.canvas {
  flex: 1;
  position: relative;
}

.canvasHeader {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 100;
}

.canvas.simulation {
  border: solid 4px transparent;
  box-sizing: border-box;
  border-color: #8babcd;
}

.canvas .djs-palette {
  top: 60px;
}

.canvas.simulation .djs-palette {
  display: none;
}

.properties-panel:not(.open) {
  width: 0 !important;
}

.olc-properties-panel:not(.open) {
  width: 0 !important;
}

.properties-panel.open {
  width: 300px;
  border-left: solid 1px #CCC;
}

.olc-properties-panel.open {
  width: 300px;
  border-left: solid 1px #CCC;
}

.properties-panel {
  position: inherit;
}

.olc-properties-panel {
  position: inherit;
}

.token-simulation-active .bio-properties-panel-container {
  opacity: .75;
}

.token-simulation-active .properties-panel input,
.token-simulation-active .properties-panel textarea,
.token-simulation-active .properties-panel select,
.token-simulation-active .properties-panel .bio-properties-panel-checkbox {
  pointer-events: none;
}

.properties-panel-resizer {
  position: absolute;
  left: -12px;
  top: 0;
  bottom: 0;
  width: 22px;
  z-index: 3;
  cursor:  e-resize;
}

.olc-properties-panel-resizer {
  position: absolute;
  left: -12px;
  top: 0;
  bottom: 0;
  width: 22px;
  z-index: 3;
  cursor:  e-resize;
}

.properties-panel-resize-handle {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  bottom: 0;
}

.olc-properties-panel-resize-handle {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  bottom: 0;
}

.properties-panel:not(.open) .properties-panel-resizer {
  width: 12px;
  cursor: w-resize;
}

.olc-properties-panel:not(.open) .olc-properties-panel-resizer {
  width: 12px;
  cursor: w-resize;
}

.properties-panel:not(.open) .properties-panel-resize-handle {
  left: 10px;
}

.olc-properties-panel:not(.open) .olc-properties-panel-resize-handle {
  left: 10px;
}

.properties-panel-resizer:hover .properties-panel-resize-handle {
  border-right: solid 3px hsl(205, 100%, 50%);;
}

.olc-properties-panel-resizer:hover .olc-properties-panel-resize-handle {
  border-right: solid 3px hsl(205, 100%, 50%);;
}

.bio-properties-panel-container {
  width: 100%;
}

.olc-bio-properties-panel-container {
  width: 100%;
}




/** file-drops */

.drop-message {
  position: absolute;
  top: 24px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--token-simulation-silver-darken-94, #EFEFEF);
  border-radius: 2px;
  padding: 6px 12px;
  font-size: 16px;
  color: var(--token-simulation-grey-darken-30, #212121);
  user-select: none;
}

.drop-message.error {
  background: #dd7373;
}

.drop-overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  padding: 50px;

  background: rgba(255, 255, 255, .9);

  z-index: 1000;
}

.drop-overlay .box {
  text-align: center;
  border: dashed 4px #CCC;
  height: 100%;
  width: 100%;
  display: table;
}

.drop-overlay .label {
  font-size: 26px;
  color: #888;
  margin: auto;
  display: table-cell;
  vertical-align: middle;
}

/** simulation**/
.bts-set-animation-speed {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%, 0);
  font-size: 16px;
  text-align: center;
  background-color: var(--token-simulation-silver-darken-94, #EFEFEF);
  border-radius: 2px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 6px;
  overflow: hidden;
}

.bts-set-animation-speed.hidden {
  display: none;
}

.bts-set-animation-speed .bts-animation-speed-buttons {
  display: flex;
  flex-direction: row;

  margin-left: 6px;
}

.bts-set-animation-speed .bts-animation-speed-button {
  padding: 10px 0;
  width: 30px;
  display: inline-flex;
  justify-content: center;
  border: none;
}

.bts-set-animation-speed .bts-animation-speed-button.active,
.bts-set-animation-speed .bts-animation-speed-button:hover {
  background-color: var(--token-simulation-bluette, #546c86);
  color: var(--token-simulation-white, #FFFFFF);
}
.bts-token .text {
  font-family: 'Arial', sans-serif;
}

.bts-token-count-parent {
  white-space: nowrap;
}

.bts-token-count {
  background-color: #FAFAFA;
  border-radius: 100%;
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  font-size: 14px;
  color: var(--token-simulation-grey-darken-30, #212121);
  user-select: none;
  animation: bts-jump 1s infinite;
  animation-timing-function: ease;
  position: relative;
  top: 0;
  display: inline-block;
}

.bts-token-count.inactive {
  display: none;
}

.bts-token-count + .bts-token-count {
  margin-left: -8px;
}

.bts-token-count.waiting {
  color: var(--token-simulation-white, #FFFFFF);
  font-family: 'Arial', sans-serif;
  background-color: var(--token-simulation-bluette, #546c86);
}

/** page organizer */

.mainContent {
  position: absolute;
  left: 0;
  top: 50px;
  bottom: 0;
  right: 0;
  display: flex;
}

.contentLeft{
  width: 50%;
  height: 100%;
  display: flex;
}

.contentRight{
  width: 50%;
  height: 100%;
  display: flex;
}

/** vertical divider */

.divider {
  float: none;
  overflow: hidden;
  background-color: transparent;
  position:absolute;
  z-index: 100;
  --thickness: 20px;
}

.divider:after {
  content: '';
  display: block;
  --border-width: 6px;
  --offset: calc((var(--thickness) - var(--border-width)) / 2);
  --border-style: var(--border-width) dotted rgba(150,150,150,1);
}

.divider.dragged {
  --thickness: 20px;
  background-color: rgba(150,150,150,0.5);
}

.divider.vertical {
  width: var(--thickness);
  height: 100%;
  left: calc(50% - 10px);
  cursor: w-resize;
}

.divider.vertical:after {
  margin-left: var(--offset);
  border-left: var(--border-style);
  height: 100%;
}

#data-panel {
  background-color: #f9f9f9;
  max-width: 400px;
  overflow-y: scroll;
}

#data-panel .entry {
  border: 1px solid #ddd;
  padding: 8px;
  margin-top: 5px;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

#data-panel .entry:hover {
  background-color: #f1f1f1;
}

#data-panel .group {
  border: 1px solid #ccc;
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 5px;
  background-color: #f9f9f9;
}

#data-panel .title {
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 1.2em;
  color: #333;
}

#data-panel .entry {
  margin: 5px 0;
}

.entry span {
  font-weight: bold;
  color: #555;
}

.spinner {
  position: fixed;
  top: 48%;
  left: 48%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  border: 10px solid white;
  border-top: 10px solid green;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  z-index: 9999; /* Make sure it stays on top */
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.hidden {
  display: none;
}

#loadingOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  z-index: 9999; /* Ensure it is on top */
  display: flex;
  align-items: center;
  justify-content: center;
}

#loadingOverlay.hidden {
  display: none;
}
